<!-- zouke app tabs-->
<!-- 
    这种布局容易将每个tab按了之后，形成历史记录
    而不是平行关系。
-->
<ion-nav-view>

</ion-nav-view>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
    
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    
  </ion-tab>

  <ion-tab title="Map" icon-off="ion-ios-gear-outline" icon-on="ion-ios-chatboxes" href="#/tab/map">
    
  </ion-tab>
</ion-tabs>
