<ion-view view-title="userDetail">

<!--
  <ion-nav-title>
  		userDetail2
  </ion-nav-title>
-->
  	<ion-content>

    	<div class="list card">
      		<div class="item item-avatar">
      			<img ng-src="{{}}">
      			<h2>
      				{{username}}
      			</h2>
      			<p>xxxxxxxx</p>
      		</div>
    

    		<div class="item tabs">
    			<a class="tab-item">1</a>
    			<a class="tab-item">2</a>
    			<a class="tab-item">3</a>	
    		</div>
		</div><!--list card user-info-->

		<ion-slide-box>
    		<ion-slide>

    		</ion-slide>
    		<ion-slide>

    		</ion-slide>
    		<ion-slide>

    		</ion-slide>
    	</ion-slide-box>
  	</ion-content>
</ion-view>
